

<div>
    <div class="field">
        <label class="label">Member</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Select dropdown</option>
                    <option>With options</option>
                </select>
            </div>
        </div>
    </div>
</div>


<table>
    <thead>
        <tr>
            <th></th>
            <th>Judul</th>
            <th>Kode</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" data-id="da" />
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="field">
    <label class="label">Tgl Pinjam</label>
    <div class="control">
        <input class="input" type="date" placeholder="Tgl Pinjam" id="tglPinjam">
    </div>
</div>

<div class="field">
    <label class="label">Lama Pinjam (hari)</label>
    <div class="control">
        <input class="input" type="number" placeholder="Lama Pinjam" id="lamaPinjam">
    </div>
</div>